<html>

<head>
    <title>
        Profile
    </title>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>
    <div>
        <!-- header -->
        <div class="header">
            <div class="name">
                <h2>Social</h2>
            </div>
            <div class="join">
                <div>
                    <button><a href="/users/logout">Log out</a></button>
                </div>
            </div>
        </div>
        <!-- header -->
        <!-- User -->
        <div class="profile-whole">
            <div class="prof">
                <div>
                    <img src="/other/dp.jpeg" alt="dp">
                </div>
                <div>
                    <h2>
                        Niraj Kumar
                    </h2>
                </div>
            </div>
            <div>
                <!-- Timeline -->
            </div>
        </div>
        <!-- User -->
    </div>
</body>

</html>