<html>

<head>
    <title>
        Social
    </title>
    <link rel="stylesheet" href="/css/header.css">
</head>

<body>
    <div>
        <!-- header -->
        <div class="header">
            <div class="name">
                <h2>Social</h2>
            </div>
        </div>
        <!-- header -->
        <div class="home">
            <div class="home-img">
            </div>
            <div class="signup-form">
                <form action="/users/login" method="post">
                    <input type="text" name="email" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button class="submit">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>